:root {
  --main-color: #009f9f;
  --lighten-color: #009f9f;
  --darken-color: #006969;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.6px;
  box-sizing: border-box;
}

*:focus,
*:focus-visible {
  outline: 2px solid var(--darken-color);
}
::-webkit-scrollbar {
  background-color: var(--darken-color);
  width: 0.7rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--lighten-color);
}
html {
  font-size: 10px;
  color: #5c5c5c;
  background-image: url(mountains.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.container {
  display: flex;
  justify-content: center;
}

.frame {
  border-radius: 8px;
  padding: 2.5rem 2.5rem;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.212);
}
.task--section {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 4.6rem;
  min-width: 40rem;

  background-position: center;
  background-size: cover;
}
.add-task {
  display: flex;
  gap: 20px;
  background-color: white;
}
.list-task {
  position: relative;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.add-task .add-task--button {
  transition: all 0.3s;

  color: white;
  font-weight: 400;
  font-size: 1.6rem;
  background-color: var(--main-color);
  padding: 1rem 2rem;
  border: none;
}
.frame-button {
  border-radius: 5px;
  background: radial-gradient(
    rgba(80, 80, 80, 0.055),
    rgba(255, 255, 255, 0.168)
  );
}

.tasks-counter {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 2rem;
  font-weight: bold;
}
.add-task .input-task--text:focus,
.add-task .input-task--text:focus-visible,
.add-task .input-task--text:focus-within {
  outline: 1.4px solid var(--main-color);
}
.add-task .input-task--text {
  width: 100%;
  border: none;
  outline: 1px solid #adadad;
  border-radius: 5px;
  padding: 1.5rem;
}
.add-task .input-task--text::placeholder {
  font-size: 1.6rem;
  font-weight: 400;
}
.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-bottom: 1rem;
  margin: 10px 0;
  border-bottom: 2px solid #3333;
  transition: 0.6s;
  transform-origin: left;
}
.task-form {
  display: flex;
  gap: 10px;
  font-size: 2rem;
  font-weight: 500;
  width: 90%;
  cursor: default;
}
.task-form input {
  border: none;
  outline: none;
  filter: hue-rotate(280deg);
  transform: scale(110%);
  color: white;
}
.task-form input:focus {
  outline: 2px solid black;
}

.remove-task {
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--main-color);
}
.remove-task .trash-task {
  width: 2.4rem;
  height: 2.4rem;
  stroke: white;
}
button {
  transition: filter 0.05s;
}
.button-hov:hover,
.add-task--button:hover,
.remove-all:hover,
.active-remove-button {
  cursor: pointer;
  filter: brightness(110%);
}
.done-task {
  text-decoration: line-through 1.3px;
}
.hidden {
  opacity: 30%;
  transform: scale(80%) translateX(-100px) rotateY(-60deg);
}
.remove-all {
  transition: filter 0.1s;
  background-color: #e03131;
  padding: 15px 20px;
  font-size: 18px;
  color: white;
  border: 1px solid black;
  font-weight: 500;
}

@media screen and (max-width: 400px) {
  html {
    font-size: 8px;
  }
  .task--section {
    width: 100%;
  }
  .add-task {
    flex-direction: column;
  }
  .add-task .add-task--button {
    padding: 2rem 2rem;
  }
  .add-task .input-task--text {
    padding: 2rem;
  }

  @media screen and (max-width: 250px) {
    html {
      font-size: 7px;
    }
  }
  @media screen and (max-width: 200px) {
    html {
      font-size: 8px;
    }
  }
}
